<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
  	


    <div class="container-fluid" >
          <div class="row quote">
            <div class="col s12  m6 offset-m3">
              <div class="card {{color}}">
                <div class="card-content white-text">
                  <div class= "quote-text"> 
                    <div class = "col s6">
			                <a class="github-button" href="https://github.com/vramazing/RandomQuoteGenerator/fork" data-size="large" data-show-count="true" aria-label="Fork vramazing/RandomQuoteGenerator on GitHub">Fork</a>
                    </div>
                    <div class = "col s6">
                      <a class="btn-floating blue lighten-1"   href="https://twitter.com/intent/tweet?text={{text}}%20-%20{{name}}" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                     <br>
    			           <br>
                 
                      {{{body}}}
                  </div>
                  <br>
                  <div class="row">
                      
                      <div class="col s12">
                        <center>
                           <a class="waves-effect green accent-4 waves-light btn" href="/">New Quote</a>
                        <center>
                      </div>
                      
                   
                  </div> <!--row-->
                 </div><!--quote text-->
                </div><!--card content-->

                
              </div><!--card-->
            </div><!--cols12-->
          </div><!--row quote-->
          <!-- Place this tag in your head or just before your close body tag. -->


    </div><!--container fluid-->
  <script src = "javascripts/twitter.js"></script>
  <script src = "javascripts/jquery.min.js"></script>
  <script src = "javascripts/materialize.min.js"></script>
  <script src = "javascripts/main.js"></script>

  
  </body>
</html>
